.fondos{
    background-image: url(../img/GHcSmhMXMAEpopL.jpeg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.a{
    color: #fff;
    
}